@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-bg {
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll-animation {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

/* Tab content styling */
.tab-content {
  display: block;
  width: 100%;
}